DATABASE_URL="postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/procurement?sslmode=require"
DIRECT_DATABASE_URL="postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/procurement?sslmode=require"
NEXTAUTH_URL="https://your-domain.vercel.app"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
